.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    width: 100%;   
}

.top-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.btn-social{
    margin-top: 20px;
    display: flex;
    gap: 14px;
}

.btn-social a:hover{
    i{
    color: $primary-light;
    }
}

.top-header .logotipo img{
    max-width: 200px;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .top-header > .interface{
        padding: 20px 20px;

    }
    .btn-social{
        gap: 8px;
    }
    .btn-social a:hover{
        i{
            color: $primary-light;
        }
    }
}

.bottom-header{
    background-color: $white-normal;
    width: 100%;
}

.bottom-header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;
}

.bottom-header nav ul li a{
    background-color: $white-normal;
    color: #8c5e2a;
    width: 100%;
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600px;
    display: block;
    transition: .2s;
}


.bottom-header nav ul li a:hover{
    color: $white-normal;
    box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.37);
    background: linear-gradient(45deg,#ddbd88, #8c5e2a, #ddbd88);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
}

@keyframes degrade{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.drop-hover{
    position: relative;
}
.drop-hover .fa-solid{
    color: $primary-dark;
}

.drop-hover .drop{
    position: absolute;
    background-color: $white-normal;
    color: #8c5e2a;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
    z-index: 1;
}

.drop-hover .drop a{
    padding: 20px;
}

.drop-hover:hover .drop{
    height: 177px;
}

@media screen and (max-width: 768px){
    .bottom-header{
        background-color: transparent;
        font-size: 14px;
    }
    .bottom-header nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bottom-header nav ul li a{
        display: flex;
        padding: 15px;
        font-weight: 500px;
        background-color: transparent;
        color: $white-normal;
    }
    .drop-hover .drop{
        height: 0;
        
    }
    .drop-hover:hover .drop{
        display: flex;
        flex-direction: column;
        height: 174px;
        font-size: 14px;
        text-align: left;
        background: $primary-dark;
        z-index: 1;
        
    }
    .drop-hover .fa-solid{
        color: $white-normal;
    }
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    color: $white-normal;
}

.header-icons{
    display: flex;
    gap: 14px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $primary-light;
    }
}
@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button{
    border: 2px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    transition:  background-color 0.8s;
}

.header-button:hover{
    border: 2px solid transparent;
    background-color: $primary-light;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    margin-left: 20px;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px){
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 16px;
            font-size: 34px;
        }
    }
    .header-logo img{
        width: 400px;
        margin-top: 46px;
        margin-right: 20px;
    }

    .header-button{
        display: none;
    }
}
        