@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html {
    scroll-behavior: smooth;
    }

.body {
    min-height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 8px;
    overflow: hidden;
}

//BG HOME
.bg-home{
    position: relative;
}

.bg-home:before{
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0), #af958b), url("../assets/bg.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}
@media screen and (max-width: 768px){
    .bg-home:before{
        position:absolute;
        background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0), #af958b), url("../assets/bg-mobile.png");
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
        opacity: 0.9;
    }
}
//--------------------

//HERO--------------
.hero{
    color: $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    margin-bottom: -30px;

    p{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 25px;
        
    }
    
    h3{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 25px;
        
        
    }

    .button-contact{
        padding: 14px 28px;
        color: $white-normal;
        border: 0;
        font-size: 20px;
        font-weight: 600;
        margin: 14px 0;
        border-radius: 30px;
        background: linear-gradient(45deg,#ddbd88, #8c5e2a, #ddbd88);
        background-size: 400% 100%;
        animation: degrade 10s linear infinite alternate;
    }
    
    @keyframes degrade{
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }

    .button-contact:hover{
        animation: scaleButton 0.8s alternate infinite;
    }

    @keyframes scaleButton{        
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.07);
        }
    }
}

@media screen and (max-width: 768px){
    .hero{
        min-height: 60vh;

        p{
            font-size: 18px;
            padding: 0 14px;
            width: 100%;
            
        }
        
        h3{
            font-size: 18px;
            padding: 0 14px;
            width: 100%;
            
        }
    }
}

@media screen and (max-width: 480px){
    .hero {
        min-height: 50vh;
        p{
            font-size: 15px;
            
        }
        h3{
            font-size: 17px;
            
        }
    }
}

//---------------------

//ABOUT--------------
.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
    min-height: 50vh;
    padding: 5px 0;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;

    p{
        text-align: center;
        font-size: 20px;
        
    }

     
.about-description{
    p{
        margin-bottom: 14px;
        line-height: 150%;
    }
} 
}
@media screen and (max-width: 768px){
    .about-content{
        min-height: 60vh;

        p{
            text-align: center;
            font-size: 16px;
            margin-bottom: 14px;
            line-height: 150%;
            
        }
        
        
    }
}

@media screen and (max-width: 480px){
    .about-content{
        min-height: 50vh;
        p{
            text-align: center;
            font-size: 12px;
            margin-bottom: 4px;
            line-height: 150%;
            
        }
        
    }
}

.about-info p{
    color: $primary-normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    background-color: $white-normal;
    border-radius: 8px;
    position: relative;
    text-shadow: none;
    left: -250px;
    display: flex;
    flex-direction: column;
 }

 .about-info2 p{
    color: $primary-normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    background-color: $white-normal;
    border-radius: 8px;
    position: relative;
    text-shadow: none;
    right: -250px;
    top: -162px;
    display: flex;
    flex-direction: column;
 }

 @media screen and (max-width: 768px){

    .about-info p{
        left: 0;
        font-size: 15px;
        border-radius: 8px;
    }
    .about-info2 p{
        right: 0;
        top: 0;
        font-size: 15px;
        border-radius: 8px;
    }
}
//---------------------
//SERVICES--------------
.services{
    background-color: $white-normal;
    color: $primary-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
    margin-top: -100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.services-content h1{
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
    background: linear-gradient(45deg,#ddbd88, #8c5e2a, #ddbd88);
    background-size: 400% 100%;
    animation: gradient 10s linear infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.procedimento-info p{
    color: $white-normal;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px;
}

.procedimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 0 44px 34px 44px;
}

.procedimento{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: $primary-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px $black-light;

    overflow: hidden;

    img{
        width: 100%;
        max-width: 354px;
    }
}

.procedimento img:hover{
    animation: scaleButton 0.8s alternate infinite;
    z-index: 1;
}

.procedimento-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $primary-normal;
    z-index: 99;
}

@media screen and (max-width: 768px){
    .services{
        margin-top: 0;
    }

    .procedimentos{
        flex-direction: column;
        max-width: 350px;
    }

    .services-content h1{
        font-size: 30px;
    }
    .procedimento img{
            max-width: 350px;
    } 
    .procedimento-info p{
        font-size: 16px;
    }
}

//------------
//TRATAMENTOS
.tratamentos{
    background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.12), #030303), url("../assets/bg-tratamento.png");
    color: $white-normal;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -130px;
    opacity: 0.9;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

.tratamento-content h1{
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin-bottom: 14px;
    justify-content: center;
    text-shadow: 0em 0em 0.2em $black-light;
}

.tratamento-content p{
    text-align: center;
    font-size: 19px;
    padding: 10px;
    margin-bottom: 34px;
    max-width: 940px;
    justify-content: center;
    text-shadow: 0.1em 0.1em 0.2em $primary-dark;
}

.tratamentos-info a{
    color: $white-normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba($primary-dark, 0.3);
    border-radius: 8px;
    position: relative;
    left: -200px;
    display: flex;
    flex-direction: column;
}
.tratamentos-info a:hover{
    background-color: $white-normal;
    color: $primary-dark;
}

@keyframes scaleButton{        
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}
.tratamentos-info2 a{
    color: $white-normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba($primary-dark, 0.3);
    border-radius: 8px;
    position: relative;
    flex-direction: column;
    right: -200px;
    top: -255px;
    display: flex;
}
.tratamentos-info2 a:hover{
    background-color: $white-normal;
    color: $primary-dark;
}

@keyframes scaleButton{        
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px){
    .tratamentos{
        background-image: linear-gradient(to bottom, (8, 8, 8, 0.12), #030303), url("../assets/bg-tratamento-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
        opacity: 0.9;
        z-index: -1;
        display: flex;
        flex-direction: column;
    }
    .tratamentos-info a{
        left: 0;
        font-size: 20px;
    }
    .tratamentos-info2 a{
        right: 0;
        font-size: 20px;
        top: 0;
    }
    .tratamento-content h1{
        font-size: 30px;
    }
    .tratamento-content p{
        font-size: 17px;
    }
}
//CARROSSEL
.wrapper{
    max-width: 1100px;
    padding: 20px 10px;
    margin: 0 60px 35px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    margin-bottom: 250px;

}

.wrapper .card {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: $white-normal;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba (black, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.wrapper .card:hover {
    transform: translateY(-10px);
}

.card .card-image{
    position: relative;

}

.card .card-image img{
    width: 100%;
    border-radius: 22px;
    padding: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;

}

.card .card-image .card-tag{
    position: absolute;
    left: 25px;
    top: 25px;
    background: linear-gradient(135deg,#ddbd88, #8c5e2a, #ddbd88);
    background-size: 400% 100%;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: $white-normal;
    background-color: rgba(255, 255, 255, 0.9);
    animation: gradient 10s linear infinite alternate;
}

@keyframes gradient{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.card .card-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 25px 25px;
}

.card .card-content .card-title{
    color:rgb(48, 47, 47);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;

}

.card .card-content .card-text{
    color:#747474;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 20px;

}

.card .card-content .card-footer{
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: auto;
    justify-content: space-between;
    border-top: 1px solid rgba($primary-dark, 0.09);

}

.card .card-footer .card-profile{
    display: flex;
    align-items: center;
}
.card .card-profile img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid $white-normal;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card .card-profile .card-profile-info {
    display: flex;
    flex-direction: column;
}

.card .card-profile .card-profile-name{
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(48, 47, 47);
}

.card .card-profile .card-profile-role{
    font-size: 0.875rem;
    font-weight: 600;
    color: #b1b0ae;
}

.card .card-footer .card-button{
    color: $white-normal;
    text-decoration: none;
    background: linear-gradient(135deg,#ddbd88, #8c5e2a, #ddbd88);
    background-size: 400% 100%;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.81rem;
    padding: 10px 10px;
    box-shadow: 0 8px 15px rgba(10, 10, 10, 0.068);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
}

@keyframes gradient{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
.card .card-footer .card-button:hover{
    background-color: $white-normal;
    color: $white-normal;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(10, 10, 10, 0.098);
    z-index: 1;
}

.wrapper .swiper-pagination {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
  }

.wrapper .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    opacity: 50%;
    background-color: $white-normal;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next){
    color: $black-light;
    margin-top: -150px;
    transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover{
    color: $white-normal;
}

@media screen and (max-width: 768px){
    .wrapper{
        margin: 0 10px 10px;
        width: 350px;
        justify-content: center;
        overflow: hidden;
    }
    .card .card-footer .card-button{
        font-size: 0.65rem;
        padding: 15px 10px;
    }
    .wrapper :where(.swiper-button-prev, .swiper-button-next){
        display: none;
    }

}

//------------
//FOOTER--------------
.endereco{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-normal;
    color: $primary-normal;
    gap: 14px;
    padding: 14px 14px;
    margin-top: -250px;
    z-index: 1;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}
.endereco-info h3{
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(48, 47, 47);
    text-align: right;
    
}

hr.solid {
    border-top: 1px solid $primary-light;
    border: 0px;
    width: 100%;
    height: 1px;
    background-color: $primary-light;
    padding-bottom: 4px;
    margin-bottom: 10px;
    background: linear-gradient(45deg,#ddbd88, #8c5e2a, #ddbd88);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    }
    
    @keyframes degrade{
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
    }

.endereco-info h4{
    font-size: 15px;
    line-height: 100%;
    padding-bottom: 10px;
    text-align: right;
    color: rgb(48, 47, 47);
}

.endereco-info p{
    font-size: 14px;
    line-height: 100%;
    padding-bottom: 10px;
    text-align: right;
    color: rgb(63, 63, 63);
}

.endereco iframe{
    padding-top: 0;
    border-radius: 8px;
    border-color: $primary-normal;
    border-width: 2px;
    border-style: solid;
    width: 500px;
    height: 300px;
    max-width: 570px;
}

@media screen and (max-width: 768px){
    .endereco{
        flex-direction: column;
        margin-top: 0;
    }

    .endereco-info h3{
        text-align: center;
        font-size: 20px;
    }

    .endereco-info h4{
        text-align: right;
        font-size: 15px;
    }

    .endereco-info p{
        text-align: right;
        font-size: 12px;
    }

    .endereco iframe{
        max-width: 300px;
    }
    
}
@media screen and (max-width: 480px){
    .endereco-info h3{
        text-align: center;
        font-size: 18px;
    }

    .endereco-info h4{
        text-align: right;
        font-size: 14px;
    }

    .endereco-info p{
        text-align: right;
        font-size: 12px;
    }

    .endereco iframe{
        max-width: 300px;
    } 
}

.contato{
    background-color: $white-normal;
    padding: 14px 14px;
    width: 100%;
    z-index: 1;
    position: relative;
    padding-bottom: 100px;
    overflow: hidden;
    
    
}
.contato img{
    width: 130px;
    height: 130px;
    margin-bottom: 70px;
    margin-top: 50px;
    margin-left: 15px;
}
.contato p{
    overflow: hidden;
    font-size: 15px;
    line-height: 150%;
    text-align: left;
    margin-top: -60px;
    margin-left: 18px;
    color: rgb(48, 47, 47);
}
.contato a{
    z-index: 50;
    position: relative;
}
.contato i{
    color: rgb(48, 47, 47);  
    text-decoration: none; 
    padding-left: 18px;
    
}

.contato i:hover{
    color: $black-light;
}

.navegue{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 14px 14px;
    margin-top: -30px;
    margin-right: 200px;
    z-index: 20;
    position: relative;
    flex-direction: column;
}

.navegue p{
    font-size: 14px;
    text-align: left;
    color: rgb(48, 47, 47);
    margin-top: -150px;
    margin-right: 60px;
    margin-bottom: -12px;
}


.navegue ul{
    list-style-type: none;
    text-align: left;
    line-height: 150%;
    padding: 0;
}
.navegue ul li a{
    
    color: rgb(48, 47, 47);
    text-decoration: none;
    font-size: 14px;
}

.navegue ul li a:hover{
    color: $black-light;
}

.agendamento{
    display: flex;
    position: relative;
    justify-content: right;
    align-items: right;
    gap: 14px;
    padding: 54px 54px;
    flex-direction: column;
    overflow: hidden;
    margin-top: -150px;
    z-index: 1;
}

.agendamento p{
    font-size: 14px;
    text-align: left;
    margin-left: 750px;
    margin-bottom: -12px;
    color: rgb(48, 47, 47);
} 

.agendamento ul{
    list-style-type: none;
    text-align: left;
    line-height: 150%;
    padding: 0;
    margin-left: 750px;
}
.agendamento ul li{
    
    color: rgb(48, 47, 47);
    text-decoration: none;
    font-size: 14px;
}

@media screen and (max-width: 768px){
    .contato{
        padding-bottom: 0px;
    }
    .navegue{
        margin-right: -80px;
    }
    .agendamento{
        flex-direction: column;
        justify-content: center;
        margin-top: -20px;
        padding: 94px 54px;
        margin-left: -40px;
    }
    .agendamento p{
        text-align: left;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: -12px;
        margin-left: 0px;
    }
    .agendamento ul{
        text-align: left;
        margin-left: 0;
    }
    
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 14px;
    text-align: center;
    color: $white-normal;
    background-color: $primary-dark;
}

.footer-content p{
    font-size: 13px;
    line-height: 150%;
    color: $white-normal;
    padding-bottom: 14 14px;
}

//---------

//botao whats
.btn-whatsapp{
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
    img{
        max-width: 74px;
        transition: transform 0.4s;
    }

    img:hover{
        transform: scale(1.1);
    }
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: #23a786;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px){
    .btn-whatsapp{
        img{
            max-width: 54px;
        }
    }
    
}

//--tratamentos
.treatments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 54px 14px;
    padding-left: 84px;
    padding-right: 84px;
    margin-top: -50px;
    background-color: $white-normal;
    background-position: 100% -130px;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-dark;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 100%;
    overflow: hidden;
}
.treatments-content h1{
    overflow: hidden;
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
    background: linear-gradient(45deg,#ddbd88, #8c5e2a, #ddbd88);
    background-size: 400% 100%;
    animation: gradient 10s linear infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

@media screen and (max-width: 768px){
    .treatments{
        margin-top: 30px;
        background-color: $white-normal;
        background-size: 768px 100%;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        padding-left: 0px;
        padding-right: 0px;
        
    }
    .treatments-content h1{
        font-size: 33px;
        overflow: hidden;
        margin-right: 10px;
        margin-left: 0;
        
    }
    
}

.intradermocapilar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .intradermocapilar{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        background-color: $white-normal;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
        
    }
}

.escleroterapia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .escleroterapia{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.peeling {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .peeling{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.sinais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .sinais{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.button-info{
    overflow: hidden;
    padding: 14px 28px;
    color: $white-normal;
    border: 0;
    font-size: 15px;
    font-weight: 600;
    margin: 14px 200px;
    border-radius: 30px;
    background: linear-gradient(45deg,#ddbd88, #8c5e2a, #ddbd88);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
}

@keyframes degrade{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.button-info:hover{
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton{        
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}
@media screen and (max-width: 768px) {
    .button-info{
        margin: 0 0;
        margin-left: 100px;
    }
}

.blefaroplastia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .blefaroplastia{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.otoplastia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .otoplastia{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.lobuloplastia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .lobuloplastia{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.lip-lift {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .lip-lift{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
    
}


.treatment-info h3{
    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
    color: $primary-normal;
}

.treatment-info h4{
    font-weight: 600;
    text-align: left;
    font-size: 15px;
    margin-bottom: 5px;
    color: rgb(44, 43, 43);
}

.treatment-info p{
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 150%;
    color: rgb(44, 43, 43);
    justify-content: center;
}

@media screen and (max-width: 768px){
    .treatment-info p{
        flex-direction: column;
        margin-top: 0;
        max-width: 100%;
        font-size: 16px;
        text-align: center;
        margin-right: 5px;
    }
    .treatment-info h3{
        text-align: center;
        justify-content: center;
        font-size: 25px;
        margin-right: 5px;
    }
}

//-- LESÕES
.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        width: 250px;
        height: 200px;
        max-width: 570px;
        box-shadow: 0px 0px 10px rgba($primary-dark, 0.09);
        border-radius: 30px;
        padding: 10px 10px 10px;
        background: linear-gradient(135deg, $white-normal, $primary-normal, $white-normal);
        background-size: 400% 100%;
        
}

@keyframes gradient{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

}
@media screen and (max-width: 768px){
    .content1{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        background-color: $white-normal;
        h4, p{
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }
        img{
            justify-content: center;
            width: 50%;
            height: 50%;
            margin-right: 5px;
            margin-left: 100px;
        }
        
    }
}

.content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: -90px;
        width: 250px;
        height: 200px;
        max-width: 570px;
        box-shadow: 0px 0px 10px rgba($primary-dark, 0.09);
        border-radius: 30px;
        padding: 10px 10px 10px;
        background: linear-gradient(135deg, $white-normal, $primary-normal, $white-normal);
        background-size: 400% 100%;
        
}

@keyframes gradient{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

}
@media screen and (max-width: 768px){
    .content2{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        background-color: $white-normal;
        h4, p{
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }
        img{
            justify-content: center;
            width: 50%;
            height: 50%;
            margin-right: 5px;
            margin-left: 100px;
        }
        
    }
}

//-- PEELING QUÍMICO
.intro{
    img{
        max-width: 800px;
    }

}
.titulo {
    text-align: center;
    padding: 30px 0;
}

.titulo h2{
    text-transform: uppercase;
    position: relative;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    padding-bottom: 10px;
    background: linear-gradient(45deg,#ddbd88, #8c5e2a, #ddbd88);
    background-size: 400% 100%;
    animation: gradient 10s linear infinite alternate;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}


.titulo h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: $primary-light;
  border-radius: 2px;

  animation: linhaAnimada 0.8s ease-out forwards;
}

/* Keyframes da animação */
@keyframes linhaAnimada {
  to {
    width: 600px; /* largura final da linha */
  }
}

.conteudo{
    max-width: 800px; /* largura controlada para leitura */
    margin: 30px auto; /* centraliza horizontalmente */
    padding: 0 20px;   /* espaço interno nas laterais */
    text-align: left;
}

.conteudo p {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 150%;
    color: rgb(44, 43, 43);
    justify-content: center;
}

.conteudo h1{
    justify-content: center;
    margin-top: 50px;
    font-weight: 500;
    font-size: 16px;
    color:rgb(85, 78, 78);
}

.consulta{
    margin-top: 30px;
}

.consulta a{
        padding: 14px 28px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        color: $white-normal;
        border: 2px solid transparent;
        background: linear-gradient(45deg,#ddbd88, #8c5e2a, #ddbd88);
        background-size: 400% 100%;
        animation: degrade 10s linear infinite alternate;
        transition: all 0.3s ease, transform 0.3s ease;
        transform: scale(1);
}

@keyframes degrade{
        0%{
            background-position: 0%;
        }
        100%{
            background-position: 400%;
        }
}

.consulta a:hover{
         transform: scale(1.08);
}

.cta{
    background-color: $primary-light; /* exemplo: tom suave de fundo */
    padding: 10px 20px 40px;
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width: 768px){
   .conteudo p{
    text-align: left;
    font-size: 12px;
   }

   .conteudo h1{
    font-size: 14px;
    text-align: center;
   }

   .titulo h2{
    font-size: 20px;
   }

   @keyframes linhaAnimada {
  to {
    width: 200px; /* largura final da linha */
  }
}
}
