* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html {
    scroll-behavior: smooth;
    }

.body {
    min-height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
    }

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 8px;
}

//BG HOME
.bg-home{
    position: relative;
}

.bg-home:before{
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0), #af958b), url("../assets/bg.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}
@media screen and (max-width: 768px){
    .bg-home:before{
        position:absolute;
        background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0), #af958b), url("../assets/bg-mobile.png");
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
        opacity: 0.9;
    }
}
//--------------------

//HERO--------------
.hero{
    color: $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    margin-bottom: -30px;

    p{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 25px;
        text-shadow: 0.1em 0.1em 0.2em $primary-dark;
    }
    
    h3{
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 25px;
        text-shadow: 0.1em 0.1em 0.2em $primary-dark;
        
    }

    .button-contact{
        padding: 14px 28px;
        color: $primary-dark;
        background-color: $white-normal;
        border: 0;
        font-size: 20px;
        font-weight: 600;
        margin: 14px 0;
        
    }

    .button-contact:hover{
        animation: scaleButton 0.8s alternate infinite;
    }

    @keyframes scaleButton{        
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.07);
        }
    }
}

@media screen and (max-width: 768px){
    .hero{
        min-height: 60vh;

        p{
            font-size: 18px;
            padding: 0 14px;
            width: 100%;
            text-shadow: 0.1em 0.1em 0.2em $primary-dark;
        }
        
        h3{
            font-size: 18px;
            padding: 0 14px;
            width: 100%;
            text-shadow: 0.1em 0.1em 0.2em $primary-dark;
        }
    }
}

@media screen and (max-width: 480px){
    .hero {
        min-height: 50vh;
        p{
            font-size: 15px;
            text-shadow: 0.1em 0.1em 0.2em $primary-dark;
        }
        h3{
            font-size: 17px;
            text-shadow: 0.1em 0.1em 0.2em $primary-dark;
        }
    }
}

//---------------------

//ABOUT--------------
.about{
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
    min-height: 50vh;
    padding: 5px 0;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;

    p{
        text-align: center;
        font-size: 20px;
        text-shadow: 0.1em 0.1em 0.2em $primary-dark;
    }

     
.about-description{
    p{
        margin-bottom: 14px;
        line-height: 150%;
    }
} 
}
@media screen and (max-width: 768px){
    .about-content{
        min-height: 60vh;

        p{
            text-align: center;
            font-size: 16px;
            margin-bottom: 14px;
            line-height: 150%;
            text-shadow: 0.1em 0.1em 0.2em $primary-dark;
        }
        
        
    }
}

@media screen and (max-width: 480px){
    .about-content{
        min-height: 50vh;
        p{
            text-align: center;
            font-size: 12px;
            margin-bottom: 14px;
            line-height: 150%;
            text-shadow: 0.1em 0.1em 0.2em $primary-dark;
        }
        
    }
}

.about-info p{
    color: $primary-normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: $white-normal;
    border-radius: 8px;
    position: relative;
    text-shadow: none;
    left: -250px;
    display: flex;
    flex-direction: column;
 }

 .about-info2 p{
    color: $primary-normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: $white-normal;
    border-radius: 8px;
    position: relative;
    text-shadow: none;
    right: -250px;
    top: -162px;
    display: flex;
    flex-direction: column;
 }

 @media screen and (max-width: 768px){

    .about-info p{
        left: 0;
        font-size: 15px;
        border-radius: 8px;
    }
    .about-info2 p{
        right: 0;
        top: 0;
        font-size: 15px;
        border-radius: 8px;
    }
}
//---------------------
//SERVICES--------------
.services{
    background-color: $white-normal;
    color: $primary-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
    margin-top: -100px;
}

.services-content h1{
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0em 0em 0.2em $black-light;
}

.procedimento-info p{
    color: $white-normal;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px;
}

.procedimentos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 0 44px 34px 44px;
}

.procedimento{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: $primary-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px $black-light;

    overflow: hidden;

    img{
        width: 100%;
        max-width: 354px;
    }
}

.procedimento img:hover{
    animation: scaleButton 0.8s alternate infinite;
    z-index: 1;
}

.procedimento-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $primary-normal;
    z-index: 99;
}

@media screen and (max-width: 768px){
    .services{
        margin-top: 0;
    }

    .procedimentos{
        flex-direction: column;
        max-width: 350px;
    }

    .services-content h1{
        font-size: 30px;
    }
    .procedimento img{
            max-width: 350px;
    } 
    .procedimento-info p{
        font-size: 16px;
    }
}

//------------
//TRATAMENTOS
.tratamento{
    background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.12), #030303), url("../assets/bg-tratamento.png");
    color: $white-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
    left: 0;
    top: 0;
    z-index: -1;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100% -130px;
    opacity: 0.9;
    min-height: 50vh;
}

.tratamento-content h1{
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin-bottom: 14px;
    justify-content: center;
    text-shadow: 0em 0em 0.2em $black-light;
}

.tratamento-content p{
    text-align: center;
    font-size: 19px;
    padding: 10px;
    margin-bottom: 34px;
    max-width: 940px;
    justify-content: center;
    text-shadow: 0.1em 0.1em 0.2em $primary-dark;
}

.tratamentos-info a{
    color: $white-normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba($primary-dark, 0.3);
    border-radius: 8px;
    position: relative;
    left: -200px;
    display: flex;
    flex-direction: column;
}
.tratamentos-info a:hover{
    animation: scaleButton 0.8s alternate infinite;
    background-color: $primary-normal;
    color: $white-light;
}

@keyframes scaleButton{        
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}
.tratamentos-info2 a{
    color: $white-normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba($primary-dark, 0.3);
    border-radius: 8px;
    position: relative;
    flex-direction: column;
    right: -200px;
    top: -255px;
    display: flex;
}
.tratamentos-info2 a:hover{
    animation: scaleButton 0.8s alternate infinite;
    background-color: $primary-normal;
    color: $white-light;
}

@keyframes scaleButton{        
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px){
    .tratamento{
        background-image: linear-gradient(to bottom, (8, 8, 8, 0.12), #030303), url("../assets/bg-tratamento-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0;
        opacity: 0.9;
        z-index: -1;
        display: flex;
        flex-direction: column;
    }
    .tratamentos-info a{
        left: 0;
        font-size: 20px;
    }
    .tratamentos-info2 a{
        right: 0;
        font-size: 20px;
        top: 0;
    }
    .tratamento-content h1{
        font-size: 30px;
    }
    .tratamento-content p{
        font-size: 17px;
    }
}
//------------
//FOOTER--------------
.endereco{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-normal;
    color: $primary-normal;
    gap: 14px;
    padding: 14px 14px;
    margin-top: -250px;
    z-index: 1;
    position: relative;
}
.endereco-info h3{
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(48, 47, 47);
    text-align: right;
    
}

hr.solid {
    border-top: 1px solid $primary-light;
    border: 0px;
    width: 100%;
    height: 1px;
    background-color: $primary-light;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.endereco-info h4{
    font-size: 18px;
    line-height: 100%;
    padding-bottom: 10px;
    text-align: right;
    color: rgb(48, 47, 47);
}

.endereco-info p{
    font-size: 15px;
    line-height: 100%;
    padding-bottom: 10px;
    text-align: right;
    color: rgb(63, 63, 63);
}

.endereco iframe{
    padding-top: 0;
    border-radius: 8px;
    border-color: $primary-normal;
    border-width: 2px;
    border-style: solid;
    width: 500px;
    height: 300px;
    max-width: 570px;
}

@media screen and (max-width: 768px){
    .endereco{
        flex-direction: column;
        margin-top: 0;
    }

    .endereco-info h3{
        text-align: center;
        font-size: 20px;
    }

    .endereco-info h4{
        text-align: right;
        font-size: 15px;
    }

    .endereco-info p{
        text-align: right;
        font-size: 12px;
    }

    .endereco iframe{
        max-width: 300px;
    }
    
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 14px;
    text-align: center;
    color: $primary-normal;
    background-color: $white-normal;
}

.footer-content p{
    font-size: 13px;
    line-height: 150%;
    color: $primary-dark;
    padding-bottom: 14px;
}

//---------

//botao whats
.btn-whatsapp{
    position: fixed;
    bottom: 14px;
    left: 24px;
    z-index: 99;
    img{
        max-width: 74px;
        transition: transform 0.4s;
    }

    img:hover{
        transform: scale(1.1);
    }
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    right: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: #23a786;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px){
    .btn-whatsapp{
        img{
            max-width: 54px;
        }
    }
    
}

//--tratamentos
.treatments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 54px 14px;
    margin-top: -100px;
    background-color: $white-normal;
    background-position: 100% -130px;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-dark;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 100%;
    overflow: hidden;
}
.treatments-content h1{
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
    text-shadow: 0em 0em 0.2em $black-light;
}

@media screen and (max-width: 768px){
    .treatments{
        margin-top: 0;
        background-color: $white-normal;
        background-size: 768px 100%;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
    }
    .treatments-content h1{
        font-size: 33px;
        
    }
    
}

.intradermocapilar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .intradermocapilar{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        background-color: $white-normal;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
        
    }
}

.escleroterapia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .escleroterapia{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.peeling {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .peeling{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.sinais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .sinais{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.blefaroplastia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .blefaroplastia{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.otoplastia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .otoplastia{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.lobuloplastia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .lobuloplastia{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
}

.lip-lift {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: $white-normal;
    flex: 1;
    img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        height: 350px;
        max-width: 570px;
        box-shadow: 0px 0px 10px $black-light;
    }

}
@media screen and (max-width: 768px){
    .lip-lift{
        flex-direction: column;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 0;
        max-width: 100%;
        img{
            justify-content: center;
            max-width: 300px;
            height: 100%;
            margin-right: 5px;
        }
    }
    
}


.treatment-info h3{
    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
    color: $primary-normal;
}

.treatment-info p{
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 150%;
    color: rgb(44, 43, 43);
    justify-content: center;
}

@media screen and (max-width: 768px){
    .treatment-info p{
        flex-direction: column;
        margin-top: 0;
        max-width: 100%;
        font-size: 16px;
        text-align: center;
        margin-right: 5px;
    }
    .treatment-info h3{
        text-align: center;
        justify-content: center;
        font-size: 25px;
        margin-right: 5px;
    }
}

