@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  width: 100%;
}

.top-header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.btn-social {
  margin-top: 20px;
  display: flex;
  gap: 14px;
}

.btn-social a:hover i {
  color: #d5c5bf;
}

.top-header .logotipo img {
  max-width: 200px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .top-header > .interface {
    padding: 20px 20px;
  }
  .btn-social {
    gap: 8px;
  }
  .btn-social a:hover i {
    color: #d5c5bf;
  }
}
.bottom-header {
  background-color: #f4f9f4;
  width: 100%;
}

.bottom-header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.bottom-header nav ul li a {
  background-color: #f4f9f4;
  color: #8c5e2a;
  width: 100%;
  padding: 20px 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600px;
  display: block;
  transition: 0.2s;
}

.bottom-header nav ul li a:hover {
  color: #f4f9f4;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.37);
  background: linear-gradient(45deg, #ddbd88, #8c5e2a, #ddbd88);
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;
}

@keyframes degrade {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.drop-hover {
  position: relative;
}

.drop-hover .fa-solid {
  color: #7c6a64;
}

.drop-hover .drop {
  position: absolute;
  background-color: #f4f9f4;
  color: #8c5e2a;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

.drop-hover .drop a {
  padding: 20px;
}

.drop-hover:hover .drop {
  height: 177px;
}

@media screen and (max-width: 768px) {
  .bottom-header {
    background-color: transparent;
    font-size: 14px;
  }
  .bottom-header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bottom-header nav ul li a {
    display: flex;
    padding: 15px;
    font-weight: 500px;
    background-color: transparent;
    color: #f4f9f4;
  }
  .drop-hover .drop {
    height: 0;
  }
  .drop-hover:hover .drop {
    display: flex;
    flex-direction: column;
    height: 174px;
    font-size: 14px;
    text-align: left;
    background: #7c6a64;
    z-index: 1;
  }
  .drop-hover .fa-solid {
    color: #f4f9f4;
  }
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #f4f9f4;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d5c5bf;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 2px solid #f4f9f4;
  padding: 8px 24px;
  border-radius: 4px;
  color: #f4f9f4;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 2px solid transparent;
  background-color: #d5c5bf;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  margin-left: 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 400px;
    margin-top: 46px;
    margin-right: 20px;
  }
  .header-button {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  scroll-behavior: smooth;
}

.body {
  min-height: 100vh;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home:before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0), #af958b), url("../assets/bg.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .bg-home:before {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0), #af958b), url("../assets/bg-mobile.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
  }
}
.hero {
  color: #f4f9f4;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
  margin-bottom: -30px;
}
.hero p {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 25px;
}
.hero h3 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 25px;
}
.hero .button-contact {
  padding: 14px 28px;
  color: #f4f9f4;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0;
  border-radius: 30px;
  background: linear-gradient(45deg, #ddbd88, #8c5e2a, #ddbd88);
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;
}
@keyframes degrade {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.hero .button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}
@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero p {
    font-size: 18px;
    padding: 0 14px;
    width: 100%;
  }
  .hero h3 {
    font-size: 18px;
    padding: 0 14px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    min-height: 50vh;
  }
  .hero p {
    font-size: 15px;
  }
  .hero h3 {
    font-size: 17px;
  }
}
.about {
  background-color: #af958b;
  overflow: hidden;
  color: #f4f9f4;
  min-height: 50vh;
  padding: 5px 0;
  margin-top: 150px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.about-content p {
  text-align: center;
  font-size: 20px;
}
.about-content .about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    min-height: 60vh;
  }
  .about-content p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 150%;
  }
}
@media screen and (max-width: 480px) {
  .about-content {
    min-height: 50vh;
  }
  .about-content p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 150%;
  }
}
.about-info p {
  color: #af958b;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px;
  background-color: #f4f9f4;
  border-radius: 8px;
  position: relative;
  text-shadow: none;
  left: -250px;
  display: flex;
  flex-direction: column;
}

.about-info2 p {
  color: #af958b;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px;
  background-color: #f4f9f4;
  border-radius: 8px;
  position: relative;
  text-shadow: none;
  right: -250px;
  top: -162px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .about-info p {
    left: 0;
    font-size: 15px;
    border-radius: 8px;
  }
  .about-info2 p {
    right: 0;
    top: 0;
    font-size: 15px;
    border-radius: 8px;
  }
}
.services {
  background-color: #f4f9f4;
  color: #af958b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
  margin-top: -100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.services-content h1 {
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
  margin-bottom: 50px;
  background: linear-gradient(45deg, #ddbd88, #8c5e2a, #ddbd88);
  background-size: 400% 100%;
  animation: gradient 10s linear infinite alternate;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.procedimento-info p {
  color: #f4f9f4;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 7px;
}

.procedimentos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 0 44px 34px 44px;
}

.procedimento {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #af958b;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px #bebebe;
  overflow: hidden;
}
.procedimento img {
  width: 100%;
  max-width: 354px;
}

.procedimento img:hover {
  animation: scaleButton 0.8s alternate infinite;
  z-index: 1;
}

.procedimento-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #af958b;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .services {
    margin-top: 0;
  }
  .procedimentos {
    flex-direction: column;
    max-width: 350px;
  }
  .services-content h1 {
    font-size: 30px;
  }
  .procedimento img {
    max-width: 350px;
  }
  .procedimento-info p {
    font-size: 16px;
  }
}
.tratamentos {
  background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.12), #030303), url("../assets/bg-tratamento.png");
  color: #f4f9f4;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% -130px;
  opacity: 0.9;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.tratamento-content h1 {
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
  margin-bottom: 14px;
  justify-content: center;
  text-shadow: 0em 0em 0.2em #bebebe;
}

.tratamento-content p {
  text-align: center;
  font-size: 19px;
  padding: 10px;
  margin-bottom: 34px;
  max-width: 940px;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0.2em #7c6a64;
}

.tratamentos-info a {
  color: #f4f9f4;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(124, 106, 100, 0.3);
  border-radius: 8px;
  position: relative;
  left: -200px;
  display: flex;
  flex-direction: column;
}

.tratamentos-info a:hover {
  background-color: #f4f9f4;
  color: #7c6a64;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
.tratamentos-info2 a {
  color: #f4f9f4;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(124, 106, 100, 0.3);
  border-radius: 8px;
  position: relative;
  flex-direction: column;
  right: -200px;
  top: -255px;
  display: flex;
}

.tratamentos-info2 a:hover {
  background-color: #f4f9f4;
  color: #7c6a64;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .tratamentos {
    background-image: linear-gradient(to bottom, 8, 8, 8, 0.12, #030303), url("../assets/bg-tratamento-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
    z-index: -1;
    display: flex;
    flex-direction: column;
  }
  .tratamentos-info a {
    left: 0;
    font-size: 20px;
  }
  .tratamentos-info2 a {
    right: 0;
    font-size: 20px;
    top: 0;
  }
  .tratamento-content h1 {
    font-size: 30px;
  }
  .tratamento-content p {
    font-size: 17px;
  }
}
.wrapper {
  max-width: 1100px;
  padding: 20px 10px;
  margin: 0 60px 35px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  margin-bottom: 250px;
}

.wrapper .card {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f9f4;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba black, 0, 0, 0.5;
  transition: transform 0.3s ease;
}

.wrapper .card:hover {
  transform: translateY(-10px);
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  width: 100%;
  border-radius: 22px;
  padding: 10px;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-image .card-tag {
  position: absolute;
  left: 25px;
  top: 25px;
  background: linear-gradient(135deg, #ddbd88, #8c5e2a, #ddbd88);
  background-size: 400% 100%;
  border-radius: 30px;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #f4f9f4;
  background-color: rgba(255, 255, 255, 0.9);
  animation: gradient 10s linear infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.card .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
}

.card .card-content .card-title {
  color: rgb(48, 47, 47);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 15px;
}

.card .card-content .card-text {
  color: #747474;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card .card-content .card-footer {
  display: flex;
  align-items: center;
  padding-top: 15px;
  margin-top: auto;
  justify-content: space-between;
  border-top: 1px solid rgba(124, 106, 100, 0.09);
}

.card .card-footer .card-profile {
  display: flex;
  align-items: center;
}

.card .card-profile img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #f4f9f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card .card-profile .card-profile-info {
  display: flex;
  flex-direction: column;
}

.card .card-profile .card-profile-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(48, 47, 47);
}

.card .card-profile .card-profile-role {
  font-size: 0.875rem;
  font-weight: 600;
  color: #b1b0ae;
}

.card .card-footer .card-button {
  color: #f4f9f4;
  text-decoration: none;
  background: linear-gradient(135deg, #ddbd88, #8c5e2a, #ddbd88);
  background-size: 400% 100%;
  border-radius: 30px;
  font-weight: 600;
  font-size: 0.81rem;
  padding: 10px 10px;
  box-shadow: 0 8px 15px rgba(10, 10, 10, 0.068);
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.card .card-footer .card-button:hover {
  background-color: #f4f9f4;
  color: #f4f9f4;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(10, 10, 10, 0.098);
  z-index: 1;
}

.wrapper .swiper-pagination {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.wrapper .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  opacity: 50%;
  background-color: #f4f9f4;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next) {
  color: #bebebe;
  margin-top: -150px;
  transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover {
  color: #f4f9f4;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0 10px 25px;
    width: 400px;
  }
  .wrapper :where(.swiper-button-prev, .swiper-button-next) {
    display: none;
  }
}
.endereco {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f9f4;
  color: #af958b;
  gap: 14px;
  padding: 14px 14px;
  margin-top: -250px;
  z-index: 1;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.endereco-info h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(48, 47, 47);
  text-align: right;
}

hr.solid {
  border-top: 1px solid #d5c5bf;
  border: 0px;
  width: 100%;
  height: 1px;
  background-color: #d5c5bf;
  padding-bottom: 4px;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #ddbd88, #8c5e2a, #ddbd88);
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;
}

@keyframes degrade {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.endereco-info h4 {
  font-size: 15px;
  line-height: 100%;
  padding-bottom: 10px;
  text-align: right;
  color: rgb(48, 47, 47);
}

.endereco-info p {
  font-size: 14px;
  line-height: 100%;
  padding-bottom: 10px;
  text-align: right;
  color: rgb(63, 63, 63);
}

.endereco iframe {
  padding-top: 0;
  border-radius: 8px;
  border-color: #af958b;
  border-width: 2px;
  border-style: solid;
  width: 500px;
  height: 300px;
  max-width: 570px;
}

@media screen and (max-width: 768px) {
  .endereco {
    flex-direction: column;
    margin-top: 0;
  }
  .endereco-info h3 {
    text-align: center;
    font-size: 20px;
  }
  .endereco-info h4 {
    text-align: right;
    font-size: 15px;
  }
  .endereco-info p {
    text-align: right;
    font-size: 12px;
  }
  .endereco iframe {
    max-width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .endereco-info h3 {
    text-align: center;
    font-size: 18px;
  }
  .endereco-info h4 {
    text-align: right;
    font-size: 14px;
  }
  .endereco-info p {
    text-align: right;
    font-size: 12px;
  }
  .endereco iframe {
    max-width: 300px;
  }
}
.contato {
  background-color: #f4f9f4;
  padding: 14px 14px;
  width: 100%;
  z-index: 1;
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
}

.contato img {
  width: 130px;
  height: 130px;
  margin-bottom: 70px;
  margin-top: 50px;
  margin-left: 15px;
}

.contato p {
  font-size: 15px;
  line-height: 150%;
  text-align: left;
  margin-top: -60px;
  margin-left: 18px;
  color: rgb(48, 47, 47);
}

.contato a {
  z-index: 50;
  position: relative;
}

.contato i {
  color: rgb(48, 47, 47);
  text-decoration: none;
  padding-left: 18px;
}

.contato i:hover {
  color: #bebebe;
}

.navegue {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 14px 14px;
  margin-top: -30px;
  margin-right: 200px;
  z-index: 20;
  position: relative;
  flex-direction: column;
}

.navegue p {
  font-size: 14px;
  text-align: left;
  color: rgb(48, 47, 47);
  margin-top: -150px;
  margin-right: 60px;
  margin-bottom: -12px;
}

.navegue ul {
  list-style-type: none;
  text-align: left;
  line-height: 150%;
  padding: 0;
}

.navegue ul li a {
  color: rgb(48, 47, 47);
  text-decoration: none;
  font-size: 14px;
}

.navegue ul li a:hover {
  color: #bebebe;
}

.agendamento {
  display: flex;
  position: relative;
  justify-content: right;
  align-items: right;
  gap: 14px;
  padding: 54px 54px;
  flex-direction: column;
  overflow: hidden;
  margin-top: -150px;
  z-index: 1;
}

.agendamento p {
  font-size: 14px;
  text-align: left;
  margin-left: 750px;
  margin-bottom: -12px;
  color: rgb(48, 47, 47);
}

.agendamento ul {
  list-style-type: none;
  text-align: left;
  line-height: 150%;
  padding: 0;
  margin-left: 750px;
}

.agendamento ul li {
  color: rgb(48, 47, 47);
  text-decoration: none;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .contato {
    padding-bottom: 0px;
  }
  .navegue {
    margin-right: -80px;
  }
  .agendamento {
    flex-direction: column;
    justify-content: center;
    margin-top: -20px;
    padding: 94px 54px;
    margin-left: -40px;
  }
  .agendamento p {
    text-align: left;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: -12px;
    margin-left: 0px;
  }
  .agendamento ul {
    text-align: left;
    margin-left: 0;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 14px;
  text-align: center;
  color: #f4f9f4;
  background-color: #7c6a64;
}

.footer-content p {
  font-size: 13px;
  line-height: 150%;
  color: #f4f9f4;
  padding-bottom: 14 14px;
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: #23a786;
  color: #f4f9f4;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 54px;
  }
}
.treatments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 54px 14px;
  margin-top: -100px;
  background-color: #f4f9f4;
  background-position: 100% -130px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #7c6a64;
  left: 0;
  right: 0;
  z-index: -1;
  max-width: 100%;
  overflow: hidden;
}

.treatments-content h1 {
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
  margin-bottom: 50px;
  justify-content: center;
  text-shadow: 0em 0em 0.2em #bebebe;
}

@media screen and (max-width: 768px) {
  .treatments {
    margin-top: 0;
    background-color: #f4f9f4;
    background-size: 768px 100%;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .treatments-content h1 {
    font-size: 33px;
  }
}
.intradermocapilar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f4f9f4;
  flex: 1;
}
.intradermocapilar img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 350px;
  max-width: 570px;
  box-shadow: 0px 0px 10px #bebebe;
}

@media screen and (max-width: 768px) {
  .intradermocapilar {
    flex-direction: column;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    max-width: 100%;
    background-color: #f4f9f4;
  }
  .intradermocapilar img {
    justify-content: center;
    max-width: 300px;
    height: 100%;
    margin-right: 5px;
  }
}
.escleroterapia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f4f9f4;
  flex: 1;
}
.escleroterapia img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 350px;
  max-width: 570px;
  box-shadow: 0px 0px 10px #bebebe;
}

@media screen and (max-width: 768px) {
  .escleroterapia {
    flex-direction: column;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    max-width: 100%;
  }
  .escleroterapia img {
    justify-content: center;
    max-width: 300px;
    height: 100%;
    margin-right: 5px;
  }
}
.peeling {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f4f9f4;
  flex: 1;
}
.peeling img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 350px;
  max-width: 570px;
  box-shadow: 0px 0px 10px #bebebe;
}

@media screen and (max-width: 768px) {
  .peeling {
    flex-direction: column;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    max-width: 100%;
  }
  .peeling img {
    justify-content: center;
    max-width: 300px;
    height: 100%;
    margin-right: 5px;
  }
}
.sinais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f4f9f4;
  flex: 1;
}
.sinais img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 350px;
  max-width: 570px;
  box-shadow: 0px 0px 10px #bebebe;
}

@media screen and (max-width: 768px) {
  .sinais {
    flex-direction: column;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    max-width: 100%;
  }
  .sinais img {
    justify-content: center;
    max-width: 300px;
    height: 100%;
    margin-right: 5px;
  }
}
.blefaroplastia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f4f9f4;
  flex: 1;
}
.blefaroplastia img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 350px;
  max-width: 570px;
  box-shadow: 0px 0px 10px #bebebe;
}

@media screen and (max-width: 768px) {
  .blefaroplastia {
    flex-direction: column;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    max-width: 100%;
  }
  .blefaroplastia img {
    justify-content: center;
    max-width: 300px;
    height: 100%;
    margin-right: 5px;
  }
}
.otoplastia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f4f9f4;
  flex: 1;
}
.otoplastia img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 350px;
  max-width: 570px;
  box-shadow: 0px 0px 10px #bebebe;
}

@media screen and (max-width: 768px) {
  .otoplastia {
    flex-direction: column;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    max-width: 100%;
  }
  .otoplastia img {
    justify-content: center;
    max-width: 300px;
    height: 100%;
    margin-right: 5px;
  }
}
.lobuloplastia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f4f9f4;
  flex: 1;
}
.lobuloplastia img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 350px;
  max-width: 570px;
  box-shadow: 0px 0px 10px #bebebe;
}

@media screen and (max-width: 768px) {
  .lobuloplastia {
    flex-direction: column;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    max-width: 100%;
  }
  .lobuloplastia img {
    justify-content: center;
    max-width: 300px;
    height: 100%;
    margin-right: 5px;
  }
}
.lip-lift {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #f4f9f4;
  flex: 1;
}
.lip-lift img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 350px;
  max-width: 570px;
  box-shadow: 0px 0px 10px #bebebe;
}

@media screen and (max-width: 768px) {
  .lip-lift {
    flex-direction: column;
    position: relative;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    max-width: 100%;
  }
  .lip-lift img {
    justify-content: center;
    max-width: 300px;
    height: 100%;
    margin-right: 5px;
  }
}
.treatment-info h3 {
  text-align: left;
  font-size: 25px;
  margin-bottom: 10px;
  color: #af958b;
}

.treatment-info p {
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 150%;
  color: rgb(44, 43, 43);
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .treatment-info p {
    flex-direction: column;
    margin-top: 0;
    max-width: 100%;
    font-size: 16px;
    text-align: center;
    margin-right: 5px;
  }
  .treatment-info h3 {
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin-right: 5px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #af958b;
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */